* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", Arial, Colibri, sans-serif;
}

/* Navigation bar */

.navbar {
    background-color: #0c0707;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__logo {
    margin-right: 0.5rem;
    width: 80px;
}

#navbar__home {
    background-color: #044a2c;
    background-image: -webkit-linear-gradient(to top, #0e6127, 0%, #ffb199, 100%);
    background-image: -moz-linear-gradient(bottom, #0e6127, #ffb199);
    background-image: linear-gradient(to top, #0e6127, #ffb199);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.7rem;
}

#navbar__home:hover {
    background-image: -webkit-linear-gradient(to top, #2fc25b, 0%, #ffb199, 100%);
    background-image: -moz-linear-gradient(bottom, #2fc25b, #ffb199);
    background-image: linear-gradient(to top, #2fc25b, #ffb199);
}

.navbar__txt {
    font-size: 0;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #aba;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 0.5rem;
    height: 100%;
}

.navbar__links:hover {
    transition: all 0.5s ease;
    color: #5eac67;
}

.language__menu--eng {
    background-color: #112411;
    color: #cfcfcf;
    padding: 16px;
    margin-left: 0.5rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.language__menu {
    position: relative;
    display: inline-block;
}

.navbar__item--mobile {
    display: none;
    height: 70px;
    width: 100%;
}

.language__menu--ru {
    right: 0;
    margin-top: 13px;
    display: none;
    border-radius: 20px;
    position: absolute;
    background-color: #223120;;
    min-width: 52px;
    z-index: 1;
}

.language__menu--ru a {
    color: #b1b1b1;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.language__menu--ru a:hover {
    background-color: #055709;
    border-radius: 20px;
}

.language__menu:hover .language__menu--ru {
    display: block;
}

.language__menu:hover .language__menu--eng {
    background-color: #246826;
}

@media screen and (max-width: 750px) {

    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 80vh;
        z-index: -1;
        background-color: #fffefe;
    }

    .navbar__menu.active {
        background-color: #100c0c;
        top: 100%;
        align-items: center;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.6rem;
    }

    #navbar__home {
        padding-left: 30px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background-color: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    .navbar__txt {
        color: #cfcfcf;
        font-size: 15px;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
    }

    .language__menu {
        display: none;
    }

    .navbar__item--mobile {
        display: flex;
    }

    .navbar__item {
        height: 70px;
    }

}

/* Hero section */

.hero {
    background-color: #141414;
    background-image: -webkit-linear-gradient(to bottom, #0c0707, #353333, #0c0707);
    background-image: -moz-linear-gradient(top, #0c0707, #353333, #0c0707);
    background-image: linear-gradient(to bottom, #0c0707, #353333, #0c0707);
    padding: 200px 0;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hero__heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: #67AA56;
}

.hero__subheading {
    font-size: 30px;
    margin-bottom: 18px;
    color: #50963f;
}

.hero__subheading span {
    color: #51a14e;
}

.hero__btn {
    font-size: 1.25rem;
    padding: 12px 32px;
    border-radius: 10px;
    border: 3px solid #56f2af;
    cursor: pointer;
    background-color: #3b7942;
    background-image: -webkit-linear-gradient(to bottom, #50963f, #56f2af);
    background-image: -moz-linear-gradient(top, #50963f, #56f2af);
    background-image: linear-gradient(to bottom, #50963f, #56f2af);
}

.hero__btn b {
    color: #3f0909;
}

.hero__btn:hover {
    background-color: #56f2af;
    border: 3px solid #8b168b;
    background-image: -webkit-linear-gradient(to top, #56f2af, #99a14e);
    background-image: -moz-linear-gradient(bottom, #56f2af, #99a14e);
    background-image: linear-gradient(to top, #56f2af, #99a14e);
    transition: all 0.5s;
}

.hero__btn:hover b {
    transition: all 0.5s;
    color: #4b1ba3;
}

.highlight {
    border-bottom: 4px solid #f3f8f8;
}

@media screen and (max-width: 930px) {

    .hero__heading {
        font-size: 40px;
    }

    .hero__subheading {
        font-size: 20px;
    }

    .hero__btn {
        font-size: 1.15rem;
    }

}

@media screen and (max-width: 700px) {

    .hero__btn {
        font-size: 1rem;
    }

}

/* Separators */

.separator {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #0c0707;
}

/* Highlight */

.highlight {
    background-color: #31363B;
}

/* Download section */

.download {
    padding: 100px 0;
    background-color: #0c0707;
}

.download__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90hv;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 25px;
    text-align: center;
}

.download__content h1 {
    font-size: 3.75rem;
    background-color: #56f2af;
    background-size: 100%;
    background-image: -webkit-linear-gradient(to bottom, #56f2af, 0%, #0e6127, 100%);
    background-image: linear-gradient(to bottom, #56f2af, #0e6127); 
    background-image: -moz-linear-gradient(top, #56f2af, #0e6127);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.download__content p {
    color: #3b7942;
    font-size: 1.3rem;
    margin-top: 1rem;
    font-weight: 700;
}

.download__btn {
    font-size: 1.25rem;
    padding: 14px 32px;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to top, #56f2af, #0e6127);
    background-image: -moz-linear-gradient(bottom, #56f2af, #0e6127);
    background-image: -webkit-linear-gradient(to top, #56f2af, 0%, #0e6127, 100%);
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.download__btn b {
    position: relative;
    z-index: 2;
    color: #271136;
    text-decoration: none;
}

.download__btn:after {
    position: absolute;
    content: "";
    bottom: 50%;
    left: 50%;
    height: 0;
    width: 0;
    background-image: linear-gradient(to bottom, #56f2af, #f19ed8);
    background-image: -moz-linear-gradient(top, #56f2af, #f19ed8);
    background-image: -webkit-linear-gradient(to bottom, #56f2af, 0%, #f19ed8, 100%);
    transition: all 0.5s;
    border-radius: 15px;
}

.download__btn:hover:after {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
}

.download__img--container {
    text-align: center;
}

#download__img {
    width: 100%;
    height: 100%;
    color: #5eac67;
}

@media screen and (max-width: 700px) {

    .download__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90hv;
    }

    .download__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .download__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .download__content p {
        font-size: 1.25rem;
        margin-top: 0.85rem;
    }

    .download__btn {
        padding: 12px 36px;
        margin: 1.5rem 0;
    }

}

/* Description section */

.description {
    padding: 200px 0;
}

.desc__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.desc__heading {
    font-size: 3.5rem;
    margin-bottom: 24px;
    color: #67AA56;
}