* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", Arial, Colibri, sans-serif;
}

/* .body {
    background-color: #0c0707;
} */

/* Navigation bar */

.navbar {
    background-color: #0c0707;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__logo {
    margin-right: 0.5rem;
    width: 80px;
}

#navbar__home {
    background-color: #044a2c;
    background-image: -webkit-linear-gradient(to top, #0e6127, 0%, #ffb199, 100%);
    background-image: -moz-linear-gradient(bottom, #0e6127, #ffb199);
    background-image: linear-gradient(to top, #0e6127, #ffb199);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.7rem;
}

#navbar__home:hover {
    background-image: -webkit-linear-gradient(to top, #2fc25b, 0%, #ffb199, 100%);
    background-image: -moz-linear-gradient(bottom, #2fc25b, #ffb199);
    background-image: linear-gradient(to top, #2fc25b, #ffb199);
}

.navbar__txt {
    font-size: 0;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #aba;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 0.5rem;
    height: 100%;
}

.navbar__links:hover {
    transition: all 0.5s ease;
    color: #5eac67;
}

@media screen and (max-width: 700px) {

    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 80vh;
        z-index: -1;
        background-color: #fffefe;
    }

    .navbar__menu.active {
        background-color: #100c0c;
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.6rem;
    }

    #navbar__home {
        padding-left: 30px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background-color: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    .navbar__txt {
        color: #cfcfcf;
        font-size: 15px;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
    }
}

/* Hero section */

.hero {
    background-color: #141414;
    background-image: linear-gradient(to bottom, #0c0707, #353333, #0c0707);
    padding: 200px 0;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hero__heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: #67AA56;
}

.hero__subheading {
    font-size: 30px;
    margin-bottom: 18px;
    color: #50963f;
}

.highlight {
    border-bottom: 4px solid #f3f8f8;
}

@media screen and (max-width: 930px) {
    .hero__heading {
        font-size: 40px;
    }

    .hero__subheading {
        font-size: 20px;
    }
}

/* Separators */

.separator {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #0c0707;
}

/* Download section */
